@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10vh;
}

.form-container {
    margin: auto;
    font-family: "Sansita Swashed", cursive !important ;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}
